*{
	font-size: 13pt;
}
h1{
text-align: center;
}
table.container{ 
	margin: 5px;
	border: 1px solid black;
	border-collapse:collapse;
	text-align:left;
	background-color:Beige;
	outline-style: double;

}
td.info{
	margin:10px;
	font-weight:normal;
	padding:3px 3px 3px 5px;
}
tr.info td{
	font-weight:normal;
	text-align:left;
	padding:3px 3px 3px 5px;
}
img{
	width:100px;
	height:150px;
	padding:5px;
}
ul li{
	margin:5px;
}
ol li{
	margin:5px;
}
h4{
	padding-left:7px;
}